/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.buttons {
    display: flex;
    gap: 10px;
}
  
.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    cursor: pointer;
}
  
.button.secondary {
    background-color: #6c757d;
}
  
.button:hover {
    opacity: 0.9;
}

.form-actions {
    margin-bottom: 15px; 
  }
  
  .create-account-link {
    margin-top: 10px;
  }
  